{{extend './layout.html'}} {{block 'content'}}
<div class="container">
  <div
    class="jumbotron"
    style="margin-top: 10vh; margin-left: 10vw; height: 40vh;"
  >
    <div class="page-header">
      <h1>Home <small>guide</small></h1>
    </div>
    <div>
      <ul>
        <h4>Port page allow you to manage all proxy ports in API Gateway</h4>
        <h4>
          Privilege page allow you to manage users of this configuration system
        </h4>
        <h4>Thrid Party page allow you to generate a token for third party</h4>
      </ul>
    </div>
  </div>
</div>

{{/block}}
